.soundRow {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.soundRow button {
  font-family: "Monument Extended", sans-serif;
  font-size: 10px;
  background-color: transparent;
  width: 47%;
  height: 10vh;
  max-height: 17vw;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 2vh;
}
.soundRow button:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 8px;
}
.soundRow button.active:before {
  border: 0;
  top: 11px;
}

.soundRow.bass button {
  color: #f6273f;
  border-color: rgba(246, 39, 63, 0.5);
}
.soundRow.bass button.active {
  box-shadow: 0 0 8px 1px #f6273f;
  background-color: rgba(246, 39, 63, 0.15);
}
.soundRow.bass button:before {
  border-color: rgba(246, 39, 63, 1);
}
.soundRow.bass button.active:before {
  box-shadow: 0 0 4px 4px #f6273f;
}
.soundRow.kick button {
  color: #3d2eec;
  border-color: rgba(61, 46, 236, 0.5);
}
.soundRow.kick button.active {
  box-shadow: 0 0 8px 1px #3d2eec;
  background-color: rgba(61, 46, 236, 0.15);
}
.soundRow.kick button:before {
  border-color: rgba(61, 46, 236, 1);
}
.soundRow.kick button.active:before {
  box-shadow: 0 0 4px 4px #3d2eec;
}
.soundRow.hihet button {
  color: #0fc5ff;
  border-color: rgba(15, 197, 255, 0.5);
}
.soundRow.hihet button.active {
  box-shadow: 0 0 8px 1px #0fc5ff;
  background-color: rgba(15, 197, 255, 0.15);
}
.soundRow.hihet button:before {
  border-color: rgba(15, 197, 255, 1);
}
.soundRow.hihet button.active:before {
  box-shadow: 0 0 4px 4px #0fc5ff;
}
.soundRow.snare button {
  color: #d62d9c;
  border-color: rgba(214, 45, 156, 0.5);
}
.soundRow.snare button.active {
  box-shadow: 0 0 8px 1px #d62d9c;
  background-color: rgba(214, 45, 156, 0.15);
}
.soundRow.snare button:before {
  border-color: rgba(214, 45, 156, 1);
}
.soundRow.snare button.active:before {
  box-shadow: 0 0 4px 4px #d62d9c;
}
.soundRow.pad button {
  color: #efcf25;
  border-color: rgba(239, 207, 37, 0.5);
}
.soundRow.pad button.active {
  box-shadow: 0 0 8px 1px #efcf25;
  background-color: rgba(239, 207, 37, 0.15);
}
.soundRow.pad button:before {
  border-color: rgba(239, 207, 37, 1);
}
.soundRow.pad button.active:before {
  box-shadow: 0 0 4px 4px #efcf25;
}
.soundRow.arp button {
  color: #4dc637;
  border-color: rgba(77, 198, 55, 0.5);
}
.soundRow.arp button.active {
  box-shadow: 0 0 8px 1px #4dc637;
  background-color: rgba(77, 198, 55, 0.15);
}
.soundRow.arp button:before {
  border-color: rgba(77, 198, 55, 1);
}
.soundRow.arp button.active:before {
  box-shadow: 0 0 4px 4px #4dc637;
}

@keyframes pulse-bass {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(246, 39, 63, 0.5);
  }
}
@keyframes pulse-arp {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(77, 198, 55, 0.5);
  }
}
@keyframes pulse-hihet {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(15, 197, 255, 0.5);
  }
}
@keyframes pulse-kick {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(61, 46, 236, 0.5);
  }
}
@keyframes pulse-pad {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(239, 207, 37, 0.5);
  }
}
@keyframes pulse-snare {
  from {
    background-color: #0f0f0f;
  }
  to {
    filter: blur(1px);
    background-color: rgba(214, 45, 156, 0.5);
  }
}

.pulse_background_bass {
  animation-duration: 0.5s;
  animation-name: pulse-bass;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.pulse_background_arp {
  animation-duration: 0.5s;
  animation-name: pulse-arp;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.pulse_background_hihet {
  animation-duration: 0.5s;
  animation-name: pulse-hihet;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.pulse_background_kick {
  animation-duration: 0.5s;
  animation-name: pulse-kick;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.pulse_background_pad {
  animation-duration: 0.5s;
  animation-name: pulse-pad;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.pulse_background_snare {
  animation-duration: 0.5s;
  animation-name: pulse-snare;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@media screen and (max-width: 360px) {
  .soundRow button {
    height: 12vh;
    padding-bottom: 1vh;
    font-size: 8px;
  }
  .soundRow button:before {
    top: 5px;
  }
  .soundRow button.active:before {
    top: 8px;
  }
}
